.minus-btn,
.plus-btn {
    background: #5b9ff7;
    border: unset;
    font-size: 1rem;
    line-height: 100%;
    color: #fff;
}
.minus-btn span,
.plus-btn span {
    pointer-events: none;
}
.minus-btn:hover,
.plus-btn:hover {
    color: #fff !important;
    background: #86b5f2;
}

.minus-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.plus-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.quantity-btn {
    display: flex;
    margin-right: 30px;
}

.primary-btn {
    border-radius: unset;
    width: 40%;
}

.productPage-img {
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: flex-end;
}

/* .product-description {
    border: 1px solid #fff;
}

.productPage-section {
    border: 1px solid #fff;
} */

.cart-btn {
    display: flex;
    align-items: center;
}

.productPage-btn {
    padding: 0 30px;
}

.productPage-img img {
    width: 100%;
    max-width: 600px;
    max-height: 350px;
    object-fit: contain;
}

.productPage-img {
    position: sticky;
    top: 65px;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-collapse>.ant-collapse-item >.ant-collapse-header {
    color: #fff !important;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-collapse .ant-collapse-content {
    color: #fff !important;
    background: transparent !important;
}

.product-detail-info {
    margin: 100px 0;
}

.collapse-form {
    max-width: 800px;
}

.product-detail-info .table-striped>tbody>tr:nth-of-type(odd)>* {
    color: #fff;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-input-textarea-show-count .ant-input-data-count {
    bottom: -30px;
}