.minus-btn,
.plus-btn {
    background: #5b9ff7;
    border: unset;
    font-size: 1rem;
    line-height: 100%;
    color: #fff;
}
.minus-btn span,
.plus-btn span {
    pointer-events: none;
}
.minus-btn:hover,
.plus-btn:hover {
    color: #fff !important;
    background: #86b5f2;
}

.minus-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.plus-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.quantity-btn {
    display: flex;
    justify-content: center
}

.primary-btn {
    border-radius: unset;
    width: 40%;
}

.productPage-img {
    display: flex;
    justify-content: center;
}

.product-title {
    font-size: 1.7rem;
}

.cart-btn {
    display: flex;
    align-items: center;
}

.productPage-btn {
    padding: 0 30px;
}

.productPage-img img {
    width: 100%;
    max-width: 600px;
    max-height: 350px;
    object-fit: contain;
}

.productPage-img {
    position: sticky;
    top: 65px;
}

.productPage-info p {
    font-size: 1.1rem;
    line-height: 160%;
}

.feature-info h5 {
    font-size: 1.4rem;
    color: #9a7ad6;
}

.ant-collapse-header {
    color: #9e78e6 !important;
    font-size: 1.3rem;
}

.ant-collapse-expand-icon {
    height: 36px !important;
}

.ant-collapse-content {
    color: #fff !important;
    background: transparent !important;
    font-size: 1.1rem;
}

.ant-card-meta-title {
    font-size: 0.9rem !important;
}

.ant-card-meta-description {
    color: #000 !important;
    font-size: 1rem;
}

.product-detail-info {
    margin: 100px 0;
}

.collapse-form {
    max-width: 800px;
}

.product-detail-info .table-striped>tbody>tr:nth-of-type(odd)>* {
    color: #fff;
}

:where(.css-dev-only-do-not-override-15rg2km).ant-input-textarea-show-count .ant-input-data-count {
    bottom: -30px;
}