footer {
    background: rgb(33,37,41);
    color: #fff;;
}

.text-justify {
    text-align: justify;
}

.footer-icon {
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    background: #e0d8d8;
}

@media only screen and (max-width:768px) {
    .footer p {
        font-size: 0.9rem;
    }
}