.minus-btn,
.plus-btn {
    background: #5b9ff7;
    border: unset;
    font-size: 1rem;
    line-height: 100%;
    color: #fff;
}
.minus-btn:hover,
.plus-btn:hover {
    color: #fff !important;
    background: #86b5f2;
}

.minus-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.plus-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.quantity-btn {
    display: flex;
    margin-right: 30px;
}

.primary-btn {
    border-radius: unset;
}

.productPage-img {
    border: 1px solid #fff;
    display: flex;
    justify-content: flex-end;
}

.product-description {
    border: 1px solid #fff;
}

.productPage-section {
    border: 1px solid #fff;
    padding: 30px 50px;
}

.cart-btn {
    display: flex;
    align-items: center;
}

.productPage-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
}

.productPage-img img {
    width: 100%;
    max-width: 600px;
    max-height: 350px;
    object-fit: contain;
}